.b-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-div{
    width: 40%;
    border-radius: 5px;
    margin-top: 30px;
}

.b-img{
    border-radius: 5px;
    width: 250px;
    height: 150px;
    margin-top: 20px;
}

.b-desc{
    display: flex;
}

.b-desc1{
    text-align: left;
    padding-left: 30px;
}

.b-btn{
    margin-top: 10px;
    margin-bottom: 20px;
}

.b-button{
    margin: 5px;
    width: 40px;
    background-color: white;
    border-style: solid black 1px;
    border-radius: 5px;
    padding: 4px;
}

:hover.b-button{
    background-color: rgb(90, 89, 89);
    color: white;
}



@media screen  and (max-width:480px){
    .b-div{
        width: 80%;
    }
    .b-desc{
        flex-direction: column;
    }
}