.c-container{
  width: 100%;
  padding-top: 80px;
}

.c-form{
  margin: 20px;
}

.c-input{
  width: 250px;
  height: 20px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

.c-textarea{
  width: 250px;
  height: 80px;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

.c-para{
  width: 450px;
  text-align: left;
  text-indent: 20px;
}

.c-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.c-button{
  margin: 5px;
  width: 130px;
  background-color: white;
  border-style: solid black 1px;
  border-radius: 5px;
  padding: 6px;
}

:hover.c-button{
  background-color: rgb(90, 89, 89);
  color: white;
}


@media screen  and (max-width:480px){
  .c-div{
    margin-top: 20px;
  }

  .c-para{
    width: 350px;
    padding-left: 30px;
  }
}

/* 
body {
  background: white;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f61f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: black;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
} */