.n{
    background: black;
    width: 100%;
    height: 8vh;
}

.n-container{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

Link{
    color:white;
}

.r-main{
    background: rgba(238, 243, 239, 0.8);
    width: 70%;
    height: 55vh;
    border-radius: 10px;
    margin-top: 5%;
}